<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static',filename = 'homepageStyle.css')}}">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <title>SearchTap</title>
</head>

<body>
    <nav>
            <!--dropdown added here-->
        <a class ='topright' href = "{{ url_for('aboutus')}}">About Us</a>

        {% if username %}
        <div class="dropdown">  <!--make it show items based on loggedin status-->
                
            <button class="dropbtn">{{username}}    
            <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="{{ url_for('history')}}">History</a>
              <a href="{{ url_for('signout')}}">Sign Out</a>
            </div>
        </div> 

        {%else%}

        <a class ='topright' href = "{{ url_for('loginpage')}}">Login</a>
        <a class ='topright' href = "{{ url_for('regpage')}}">Register</a>
        {%endif%}
        
    </nav>
    <div class="container">
        <div class="bgblur"></div>  <!--added later for blur-->
        <div class="row">
            <br><br><br><br>
            <div class="logo-block"><img src="{{ url_for('static',filename = 'images/logoWhite.png')}}" alt=""></div>
        </div>
        <div class="row">
            <form action="{{url_for('checkprofane')}}" id="main" method="POST">
                <div class="input-block">
                    <i class="fa fa-search"></i>
                    <input type="text" name="searchkey" id="search-box" > 
             <!--          <i class="fa fa-microphone"></i>
             </div>
                <div> -->  
                    <input type="submit" name="Search" id="Search" value="Search">
                </div>
            </form>
        </div>
        <div class="row">
            <div class="languages"> All your search history and activities are your secret. </div>
        </div>
    </div>
    
</body>


</html>
